doctype html 
html
body 
 nav(width="400px")
   ul(style="list-style:none;background-color:black" ) 
    li(style="display:inline-block;padding-left:50px")
    a(href="/",style="text-decoration:none;color:white") HOME
    li(style="display:inline-block;padding-left:50px") 
    a(href="/contact",style="text-decoration:none;color:white") CONTACT
    li(style="display:inline-block;padding-left:50px") 
    a(href="/services",style="text-decoration:none;color:white") SERVICE

   
